body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f2f2f2;
    padding: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.hero {
    text-align: center;
    padding: 10px 0;
    position: relative; /* Added position relative */
}

.hero img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.8s ease;
}


.hero-content {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.8s ease, top 0.8s ease;
    text-align: center;
}

.hero-content.show {
    opacity: 1;
    top: calc(100% + 10px);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 50%;
    padding: 20px;
}


.blank-space {
    height: 100px;
    width: 100%;
    background-color: transparent;
}


.skills,
.projects {
    padding: 50px 0;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.card img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #45a049;
}
